.main {
  width: 19.5rem;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  border-radius: $mobile-border-radius;
  box-shadow: $container-shadow;
}

.section {
  @include pd (1rem, 1.6rem);
  h2 {
    margin-top: 1rem;
    font-size: 1.33rem;
    font-weight: 700;
  }
  p {
    font-size: .85rem;
    font-weight: 400;
  }
  // Section Join
  &--join {
    background-color: white;
    border-top-right-radius: $mobile-border-radius;
    border-top-left-radius: $mobile-border-radius;
    h2 {
      color: $cyan;
      margin-bottom: 0;
    }
    h3 {
      color: $bright-yellow;
      @include mg (1.4rem, 1.4rem);
      font-size: 1rem;
    }
    p {
      color: $grayish-blue;
      line-height: 1.9;
    }
  }
  // Section Subscription
  &--subscription {
    background-color: $cyan;
    color: $light-gray;
    h2 {
      @include mg (1rem, 1.5rem);
      font-size: 1.2rem;
    }
    div {
      display: flex;
      align-items: center;
      span:nth-child(1) {
        margin-right: .75rem;
        font-size: 2.2rem;
        font-weight: 700;
      }
      span:nth-child(2) {
        color: $price-color;
      }
    }
    p {
      @include mg (.5rem, 1.9rem);
      font-size: 1.03rem;
    }
    button {
      width: 100%;
      background-color: $bright-yellow;
      border: none;
      border-radius: .3rem;
      box-shadow: $button-shadow;
      color: $light-gray;
      cursor: pointer;
      margin-bottom: .5rem;
      @include pd (1rem, 1.3rem);
      display: inline-block;
      font-size: .9rem;
      font-weight: 700;
    }
  }
  // Section Why
  &--why {
    background-color: $light-cyan;
    border-bottom-right-radius: $mobile-border-radius;
    border-bottom-left-radius: $mobile-border-radius;
    h2 {
      color: $light-gray;
      font-size: 1.2rem;
    }
    ul {
      color: $ul-color;
    }
    li {
      line-height: 1.5;
    }
  }
}